@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

*{
font-family: sans-serif;
margin: 0;
}


:root{

}

ul{
    list-style: none;
}



a{
    text-decoration: none;
}


button{
    cursor: pointer;
    border: none;
    background: none;
}


img{
    width: 100%;
}


header .navbar{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}


.navbar .nav-menu{
    display: flex;
    gap: 10px;
}

.navbar .nav-logo .logo-text{
    color: var(--white-color);
}


.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    color: var(--white-color);
    background: var(--secondary-color);
    border-radius: var(--border-radius-m);
}